
CREATE TABLE [dbo].[City](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[LocationRest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rs] [int] NOT NULL,
	[id_ct] [int] NOT NULL,
 CONSTRAINT [PK_LocationRest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocationRest]  WITH CHECK ADD  CONSTRAINT [FK_LocationRest_City] FOREIGN KEY([id_ct])
REFERENCES [dbo].[City] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LocationRest] CHECK CONSTRAINT [FK_LocationRest_City]
GO
ALTER TABLE [dbo].[LocationRest]  WITH CHECK ADD  CONSTRAINT [FK_LocationRest_Restaurant] FOREIGN KEY([id_rs])
REFERENCES [dbo].[Restaurant] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LocationRest] CHECK CONSTRAINT [FK_LocationRest_Restaurant]
GO

